<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>日光城养老之家</title>
    <link href="/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="/css/atHome.css">
    <link rel="shortcut icon" href="/image/home.ico" type="image/x-icon">
</head>
<body>

<header id="sc_header">
    <!--  上部分  -->
    <div class="top-bar hidden-sm hidden-xs text-center text-muted">
        <div class="container">
            <div class="row">
                <div class="top-bar-1 col-md-2">
                    <a href="" class="text-muted">
                        <span class="glyphicon glyphicon-blackboard"></span>
                        <span>关注本院</span>
                        <span class="glyphicon glyphicon-triangle-bottom"></span>
                        <img src="/image/erweima.jpg" alt="日光城养老之家" width="130px">
                    </a>
                </div>
                <div class="top-bar-2 col-md-5">
                    <i class="glyphicon glyphicon-earphone"></i>
                    <span>tel:8888-8888 (服务时间: 9:00 ~ 22:00)</span>
                </div>
                <div class="top-bar-3 col-md-2">
                    <a href="" class="text-muted">日光城</a>
                    <a href="" class="text-muted">养老之家</a>
                </div>
                <div class="top-bar-4 col-md-3">
                    <a class="btn btn-default btn-sm btn-info" href="#" role="button">免费注册</a>
                    <a class="text-muted" href="#" role="button" style="margin-left: 10px">立即登录</a>
                </div>
            </div>
        </div>
    </div>
    <!--  下部分  -->
    <nav class="navbar navbar-default navbar-static-top navbar-sc">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sc_nav"
                        aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Brand</a>
            </div>

            <div class="collapse navbar-collapse" id="sc_nav">
                <ul class="nav navbar-nav">
                    <li><a href="">关于我们</a></li>
                    <li><a href="">养老服务</a></li>
                    <li class="active"><a href="">居家养老</a></li>
                    <li><a href="">项目体验</a></li>
                    <li><a href="">联系方式</a></li>
                    <li><a href="">成为护工</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right hidden-sm hidden-xs">
                    <li><a href="#">个人中心</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<section id="sc_at_home">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <div>

                    <!-- Nav tabs -->
                    <ul class="nav nav-pills nav-stacked" role="tablist">
                        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">基本任务</a></li>
                        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">基本内容</a></li>
                        <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">服务网络</a></li>
                        <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">服务形式</a></li>
                    </ul>

                </div>
            </div>
            <div class="col-md-8">
                <div>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="home">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h1>基本任务</h1>
                                        <p class="lead">发展居家养老服务，要以科学发展观为统领，以构建社会主义和谐社会为目标，坚持政府主导和社会参与，不断加大工作力度，积极推动居家养老服务在城市社区普遍展开,同时积极向农村社区推进。</p>
                                        <p class="lead">发展居家养老服务，必须坚持以下几项原则：坚持以人为本。从老年人实际需求出发，为老年人提供方便、快捷、高质量、人性化的服务；坚持依托社区。在社区层面普遍建立居家养老服务机构、场所和服务队伍，整合社会资源，调动各方面的积极性，共同营造老年人居家养老服务的社会环境；坚持因地制宜。紧密结合当地实际，与本地经济社会发展水平相适应，与社区人文环境和老年人的需求相适应，循序渐进，稳步推开；坚持社会化方向。采取多种形式，充分调动社会各方面力量参与和支持居家养老服务。</p>
                                        <p class="lead">发展居家养老服务，重点和难点是办好老年食堂。社区老年食堂能够为老年人提供生活方便的场所，是居家养老的重点工程。想要建立老年食堂，首先得具备硬件条件，随后是一系列的费用开销，这个开销很难达到收支平衡。因此办好老年食堂是发展居家养老服务的重点和难点。对居家养老机构应加强政策引导。许多居家养老机构把“量血压”、“刮痧”、“推拿”、“推销保健产品”作为居家养老服务的主业，不创办老年食堂。这实质上已经偏离了居家养老的主业，陷入“伪居家养老”的怪圈。为此，应从政策上引导居家养老机构，把创办老年食堂作为居家养老服务的主业，舍弃“伪居家养老”。</p>
                                    </div>
                                    <div class="col-md-6">
                                        <img src="/image/suncity01.jpg" alt="基本任务" class="img-responsive img-rounded">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="profile">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6">
                                        <img src="/image/suncity03.jpg" alt="基本内容" class="img-responsive img-rounded">
                                    </div>
                                    <div class="col-md-6">
                                        <h1>基本内容</h1>
                                        <p class="lead">居家养老服务是公益性或准公益性服务。家政服务是一种市场化服务，完全按市场规律运作。居家养老服务则是一种公益性或准公益性养老服务，比如收费采取的是优惠价格，甚至是免费半免费的。居家养老服务之所以能够成为一种公益性或准公益性养老服务，主要得益于提供这些服务的养老机构、社区组织、志愿者等的无私奉献，以及社会各方面献出的爱心，比如物资捐助和现金捐赠等。</p>
                                        <p class="lead">凡是老年人的需求都应成为其内容。具体说有几类：首先是物质生活方面的需求，如衣食住行用；第二是精神文化需求，如文化娱乐、保健、医疗卫生等；第三是情感和心理慰藉方面的需求，比如说心灵沟通。老人也有为社会发挥余热来实现自身价值的要求，这也是心理慰藉的一个方式。</p>
                                        <p class="lead">在我国情况下，养和医是老人两个最基本的需求。我们要求所有的城市社区必须建立起给老年人提供基本服务的各种设施。眼下，医疗在社区中也在加快发展，特别是卫生部门已经把社区医疗作为今后医疗体制改革和解决百姓医疗保健问题的一个关键性措施在推进。从某种意义上讲，老年人是医疗资源最大的需求对象。现在我们也要求各地社区在医疗发展过程当中，一定给这些急需医疗服务的老年人和残疾人建立起医疗卫生档案，让社区及时掌握他们的健康状况，从而能及时预防和治疗。</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="messages">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h1>服务网络</h1>
                                        <p class="lead">网络实现全覆盖具体指服务的网络。服务是由几级构成的，比如说城市在区的一级要有一个综合性的包括直接进行服务、指导、示范和管理的服务中心。在街道一级要有一个居家养老的直接提供养老服务的中心。社区居委会要有一个分散的、涵盖内容广泛、但有针对性提供必需服务的站点。同时，相互间要有交错，比如有的社区注重医疗康复的服务，临近社区注重文化娱乐的服务，相互有一个互补。从这个角度纵横就成了一个网络。</p>
                                        <p class="lead">服务设施开始要从最急需、最基本的做起。比如衣食住行用中，养和医是最突出的。这方面做好了，其他方面也逐步重视起来了，就会不断扩大服务项目，增加服务内容，新建一些专业化的服务设施等等。中国人的养老观念倾向于选择居家养老。根据有关调研，选择居家养老的老年人占90%，只有约10%的老年人选择机构养老。在这种情况下，政府、社区、养老机构如何把养老服务延伸到居家养老的老年人，满足他们对社会化养老服务的需求，是必须着力解决的一个现实问题。同时，我国失能老人、高龄老人、空巢老人数量巨大。这部分人多数分散居住在各自家庭中，其养老不仅有生活照料、精神慰藉问题，更有医疗护理问题。居家养老服务人员具有一定医疗护理知识和技能，能较好解决这些问题。</p>
                                        <p class="lead">还应看到，与发达国家在经济高度发展基础上步入老龄化社会不同，我国是在经济发展水平还比较低的阶段就进入老龄化社会，呈现典型的“未富先老”特征。由于经济不发达，人均收入水平比较低，绝大多数老年人收入水平更低。居家养老服务费用较低，适合一般家庭的经济承受能力。</p>
                                    </div>
                                    <div class="col-md-6">
                                        <img src="/image/suncity01.jpg" alt="服务网络" class="img-responsive img-rounded">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="settings">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6">
                                        <img src="/image/suncity03.jpg" alt="服务形式" class="img-responsive img-rounded">
                                    </div>
                                    <div class="col-md-6">
                                        <h1>服务形式</h1>
                                        <p class="lead">服务作为一种商品应该是有偿的，但是居家养老服务从本质上又应该属于公共服务或者说是福利性服务的范畴。因此，即使它是有偿的,但在服务老人的过程当中,如果发现有一些老人的收入或家庭子女给他的赡养费用还不足以支付他应该享受的服务费用的话，政府应给与相应的补贴。从价值补偿这一点上讲，公共服务，政府应该发挥主导作用，应该承担一部分责任。而靠减免费用不是办法，只有政府支付才会不影响居家养老服务的正常运作。</p>
                                        <p class="lead">对贫困老人而言，全国很多地方开展居家养老的过程当中有明确的补贴办法和标准。如老人需要居家服务，根据评估确定其需要哪些服务，对身体情况，收入情况等做以评估，所需要的服务价格是多少，老人自己能够支付多少，如果支付不了全部，差多少政府就给相应的补贴，我国像北京、上海、南京、大连等地都有这样的补贴办法和标准，只是各地标准不是完全一致。国家相关部门也是要求各地根据实际情况而制定相应的补贴办法。</p>
                                        <p class="lead">最主要有两种形式：一种是把他“请出来”，动员那些能自理的、身体比较好的老年人尽量从家里走出来，到社区机构网点场所来接受服务，参加一些社区组织的活动，这样对老年人的精神文化情感方面大有裨益，另外可以让老人更好地了解社会、融入社区。服务可以通过固定的阵地服务，也叫机构设施的服务，这样老人能够得到比较好的满足。</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</section>

<footer id="sc_footer">
    <div class="container">
        <div class="row" style="padding-top: 20px;">
            <div class="col-md-3 col-md-offset-1 one">
                <div class="row">
                    <ul class="col-md-6">
                        <li><a href="">关于我们</a></li>
                        <li><a href="">更多资讯</a></li>
                        <li><a href="">养老服务</a></li>
                    </ul>
                    <ul class="col-md-6">
                        <li><a href="">本院环境</a></li>
                        <li><a href="">成为护工</a></li>
                        <li><a href="">联系我们</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 two">
                <h5>本院地址: 西藏自治区拉萨市日光城养老院</h5>
                <h5>联系电话: 13114712367</h5>
                <h5>地址邮箱: 89534573@qq.com</h5>
            </div>
            <div class="col-md-3 three">
                <h5>联系我们:</h5>
                <a href="">
                    <img src="/image/friend03.gif" alt="" width="50px" data-toggle="tooltip" data-placement="bottom"
                         title="关注微信">
                    <img src="/image/friend05.gif" alt="" width="50px" data-toggle="tooltip" data-placement="bottom"
                         title="关注微博">
                </a>
            </div>
        </div>
    </div>
</footer>

</body>
</html>
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="/js/bootstrap-select.min.js"></script>
<script src="/js/index.js"></script>