<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>日光城养老之家</title>
    <link href="/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="shortcut icon" href="/image/home.ico" type="image/x-icon">
</head>
<body>

<header id="sc_header">
    <!--  上部分  -->
    <div class="top-bar hidden-sm hidden-xs text-center text-muted">
        <div class="container">
            <div class="row">
                <div class="top-bar-1 col-md-2">
                    <a href="" class="text-muted">
                        <span class="glyphicon glyphicon-blackboard"></span>
                        <span>关注本院</span>
                        <span class="glyphicon glyphicon-triangle-bottom"></span>
                        <img src="/image/erweima.jpg" alt="日光城养老之家" width="130px">
                    </a>
                </div>
                <div class="top-bar-2 col-md-5">
                    <i class="glyphicon glyphicon-earphone"></i>
                    <span>tel:8888-8888 (服务时间: 9:00 ~ 22:00)</span>
                </div>
                <div class="top-bar-3 col-md-2">
                    <a href="" class="text-muted">日光城</a>
                    <a href="" class="text-muted">养老之家</a>
                </div>
                <div class="top-bar-4 col-md-3">
                    <a class="btn btn-default btn-sm btn-info" href="#" role="button">免费注册</a>
                    <a class="text-muted" href="#" role="button" style="margin-left: 10px">立即登录</a>
                </div>
            </div>
        </div>
    </div>
    <!--  下部分  -->
    <nav class="navbar navbar-default navbar-static-top navbar-sc">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sc_nav"
                        aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Brand</a>
            </div>

            <div class="collapse navbar-collapse" id="sc_nav">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="">关于我们</a></li>
                    <li><a href="">养老服务</a></li>
                    <li><a href="">居家养老</a></li>
                    <li><a href="">项目体验</a></li>
                    <li><a href="">联系方式</a></li>
                    <li><a href="">成为护工</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right hidden-sm hidden-xs">
                    <li><a href="#">个人中心</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<section id="sc_carouse" class="carousel slide" data-ride="carousel">
    <!-- 指示器 -->
    <ol class="carousel-indicators">
        <li data-target="#sc_carouse" data-slide-to="0" class="active"></li>
        <li data-target="#sc_carouse" data-slide-to="1"></li>
        <li data-target="#sc_carouse" data-slide-to="2"></li>
    </ol>

    <!-- 中间滚动的内容 -->
    <div class="carousel-inner" role="listbox">
        <div class="item active" data-sm-img="/image/001-640.jpg" data-lg-img="/image/001-2000.jpg">

        </div>
        <div class="item" data-sm-img="/image/002-640.jpg" data-lg-img="/image/002-2000.jpg">

        </div>
        <div class="item" data-sm-img="/image/003-640.jpg" data-lg-img="/image/003-2000.jpg">

        </div>
    </div>

    <!-- 左右控制端 -->
    <a class="left carousel-control" href="#sc_carouse" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#sc_carouse" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</section>

<section id="sc_about" class="hidden-xs hidden-sm">
    <!--  标题  -->
    <div class="title text-center">
        <h1><strong>关于我们</strong></h1>
    </div>

    <!--  主要内容  -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <p class="text-muted">原为一种古代的礼制，择取年老而贤能的人，按时供给酒食，并加以礼敬。第二个意思是年老在家休养，现在的养老政策多是这个意思。第三个意思是扶养年老而不能自给的人。</p>
                <p class="text-muted">2017年10月18日，习近平同志在十九大报告中指出，要完善城镇职工基本养老保险和城乡居民基本养老保险制度，尽快实现养老保险全国统筹。</p>
                <p class="text-muted">2020年12月31日，国务院办公厅印发《关于促进养老托育服务健康发展的意见》，就促进养老托育服务健康发展提出四个方面23项举措。</p>
            </div>
            <div class="col-lg-4">
                <img src="/image/002-640.jpg" alt="核心团队" class="img-rounded img-responsive">
            </div>
        </div>
    </div>
</section>

<section id="sc_service">
    <!--  标题  -->
    <div class="title text-center">
        <h1><strong>服务项目</strong></h1>
    </div>

    <!--  内容  -->
    <div class="container">
        <div class="row">
            <div class="col-md-4 service">
                <div class="media">
                    <div class="media-left">
                        <img src="/image/Service01.jpg" alt="头像"
                             class="media-object img-responsive img-rounded img-thumbnail" width="100px">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <span class="text-danger">【热】</span>
                            环境好
                        </h4>
                        <p class="text-muted" style="margin-top: 10px;">
                            日光城养老之家是由日光城养老产业发展有限公司与西藏自治区养老...
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 service">
                <div class="media">
                    <div class="media-left">
                        <img src="/image/Service05.jpg" alt="头像"
                             class="media-object img-responsive img-rounded img-thumbnail" width="100px">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <span class="text-danger">【热】</span>
                            护理好
                        </h4>
                        <p class="text-muted" style="margin-top: 10px;">
                            日光城养老产业发展有限公司于2016年01月28日成立。法定代表...
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 service">
                <div class="media">
                    <div class="media-left">
                        <img src="/image/Service04.jpg" alt="头像"
                             class="media-object img-responsive img-rounded img-thumbnail" width="100px">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <span class="text-danger">【热】</span>
                            文化好
                        </h4>
                        <p class="text-muted" style="margin-top: 10px;">
                            日光城养老之家开设多种老年大学课程，让长者充分发挥自我特长...
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 service">
                <div class="media">
                    <div class="media-left">
                        <img src="/image/Service06.jpg" alt="头像"
                             class="media-object img-responsive img-rounded img-thumbnail" width="100px">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <span class="text-danger">【热】</span>
                            服务好
                        </h4>
                        <p class="text-muted" style="margin-top: 10px;">
                            1、生活秘书：设立生活秘书服务站，为长者建立生活模型、室...
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 service">
                <div class="media">
                    <div class="media-left">
                        <img src="/image/Service03.jpg" alt="头像"
                             class="media-object img-responsive img-rounded img-thumbnail" width="100px">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <span class="text-danger">【热】</span>
                            住的好
                        </h4>
                        <p class="text-muted" style="margin-top: 10px;">
                            日光城养老之家适老化装修设计，新中式装修风格，温馨舒适，配..
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 service">
                <div class="media">
                    <div class="media-left">
                        <img src="/image/Service02.jpg" alt="头像"
                             class="media-object img-responsive img-rounded img-thumbnail" width="100px">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <span class="text-danger">【热】</span>
                            吃的好
                        </h4>
                        <p class="text-muted" style="margin-top: 10px;">
                            日光城养老之家聘请专业厨师团队，制作老年养生餐，秉承低脂、...
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="sc_product">
    <div class="container">
        <div class="row">
            <!-- 头部选项卡 -->
            <div style="overflow: auto">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#product1" aria-controls="home" role="tab"
                                                              data-toggle="tab">健康养老</a></li>
                    <li role="presentation"><a href="#product2" aria-controls="profile" role="tab" data-toggle="tab">居家养老</a>
                    </li>
                    <li role="presentation"><a href="#product3" aria-controls="messages" role="tab" data-toggle="tab">养老环境</a>
                    </li>
                    <li class="pull-right hidden-sm hidden-xs"><a href="#" aria-controls="settings" role="tab"
                                                                  data-toggle="tab">更多内容</a></li>
                </ul>
            </div>

            <!-- 展示内容 -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="product1">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 pd-left">
                                <!--第一部分-->
                                <div id="pd_one_1" class="media">
                                    <div class="media-left">
                                        <a href="#">
                                            <img class="media-object" src="/image/erweima.jpg" alt="日光城养老院二维码"
                                                 width="140">
                                        </a>
                                    </div>
                                    <div class="media-body text-muted" style="padding-top: 100px">
                                        <h5 class="media-heading">更多养老资讯和内容</h5>
                                        <h5 class="media-heading">关注日光城养老之家</h5>
                                    </div>
                                </div>
                                <!--第二部分-->
                                <ol id="pd_one_2" class="breadcrumb lead">
                                    <li><a href="#">养老之家01</a></li>
                                    <li><a href="#">养老之家02</a></li>
                                    <li><a href="#">养老之家03</a></li>
                                    <li><a href="#">养老之家04</a></li>
                                </ol>
                                <!--第三部分-->
                                <h1 id="pd_one_3">
                                    欢迎来到老年人的家&nbsp;&nbsp;&nbsp;
                                    <strong class="text-danger">日光城养老之家</strong>
                                </h1>
                                <!--第四部分-->
                                <div id="pd_one_4">
                                    <button class="btn btn-primary btn-lg" type="submit" style="margin-right: 20px">
                                        养老咨询
                                    </button>
                                    <button class="btn btn-default btn-lg" type="submit">护工咨询</button>
                                </div>
                            </div>
                            <div class="col-md-4 hidden-xs hidden-sm">
                                <img src="/image/suncity01.jpg" alt="" class="img-responsive img-rounded">
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="product2">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 hidden-xs hidden-sm">
                                <img src="/image/suncity02.jpg" alt="" class="img-responsive img-rounded">
                            </div>
                            <div id="pd_two_1" class="col-md-8 pd-left">
                                <h1 class="text-warning">日光城养老之家</h1>
                                <p class="lead">
                                    居家养老（服务），是指以家庭为核心、以社区为依托、以专业化服务为依靠，为居住在家的老年人提供以解决日常生活困难为主要内容的社会化服务。服务内容包括生活照料与医疗服务以及精神关爱服务。主要形式有两种：由经过专业培训的服务人员上门为老年人开展照料服务；在社区创办老年人日间服务中心，为老年人提供日托服务。服务一般是三无老人。2016年我国老龄人口突破2.3亿大关，老龄人口比例超过老龄化标准，我国已进入老龄社会。随着老年人口的不断增多，各地开始对养老福利模式进行积极的探索，居家养老服务应运而生。</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="product3">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-7 pd-left">
                                <h1>
                                    <strong class="text-danger">
                                        日光城~养老之家
                                    </strong>
                                </h1>
                                <h3>
                                    日光城养老之家
                                    <span class="text-warning">让养老成为一种时尚</span>
                                </h3>
                                <h4 class="text-muted" style="margin: 15px 0;">
                                    社区养老”是以家庭养老为主，社区机构养老为辅，在为居家老人照料服务方面，又以上门服务为主，托老所服务为辅的整合社会各方力量的养老模式。老人住在家庭里，在继续得到家人照顾的同时，由社区承担养老工作或托老服务，向居家老人提供生活照料、医疗保健、精神慰藉、文化娱乐等为主要内容的服务。
                                </h4>
                                <div class="badge" style="padding: 15px 10px; cursor: pointer">
                                    100000+人关注
                                </div>
                            </div>
                            <div class="col-md-5 hidden-xs hidden-sm">
                                <img src="/image/suncity03.jpg" alt="" class="img-responsive img-rounded">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="sc_hot">
    <!--  标题  -->
    <div class="title text-center">
        <h1><strong>精选护工</strong></h1>
    </div>
    <!--  内容  -->
    <div class="container">
        <div class="row">
            <div class="col-md-6 hugong">
                <div class="media">
                    <div class="media-left">
                        <img src="/image/head01.jpg" alt="头像"
                             class="media-object img-responsive img-circle img-thumbnail" width="100px">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <span class="text-danger">【热】</span>
                            精心照顾老人的顾家人选
                        </h4>
                        <p class="text-muted" style="margin-top: 10px;">
                            2020年12月31日，国务院办公厅印发《关于促进养老托育服务健康发展的意见》，就促进养老托育服务健康发展提出四个方面23项举措。
                        </p>
                    </div>
                    <div class="media-right text-danger">
                        7000+选择
                    </div>
                </div>

            </div>
            <div class="col-md-6 hugong">
                <div class="media">
                    <div class="media-left">
                        <img src="/image/head01.jpg" alt="头像"
                             class="media-object img-responsive img-circle img-thumbnail" width="100px">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <span class="text-danger">【热】</span>
                            精心照顾老人的顾家人选
                        </h4>
                        <p class="text-muted" style="margin-top: 10px;">
                            2020年12月31日，国务院办公厅印发《关于促进养老托育服务健康发展的意见》，就促进养老托育服务健康发展提出四个方面23项举措。
                        </p>
                    </div>
                    <div class="media-right text-danger">
                        7000+选择
                    </div>
                </div>

            </div>
            <div class="col-md-6 hugong">
                <div class="media">
                    <div class="media-left">
                        <img src="/image/head01.jpg" alt="头像"
                             class="media-object img-responsive img-circle img-thumbnail" width="100px">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <span class="text-danger">【热】</span>
                            精心照顾老人的顾家人选
                        </h4>
                        <p class="text-muted" style="margin-top: 10px;">
                            2020年12月31日，国务院办公厅印发《关于促进养老托育服务健康发展的意见》，就促进养老托育服务健康发展提出四个方面23项举措。
                        </p>
                    </div>
                    <div class="media-right text-danger">
                        7000+选择
                    </div>
                </div>

            </div>
            <div class="col-md-6 hugong">
                <div class="media">
                    <div class="media-left">
                        <img src="/image/head01.jpg" alt="头像"
                             class="media-object img-responsive img-circle img-thumbnail" width="100px">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <span class="text-danger">【热】</span>
                            精心照顾老人的顾家人选
                        </h4>
                        <p class="text-muted" style="margin-top: 10px;">
                            2020年12月31日，国务院办公厅印发《关于促进养老托育服务健康发展的意见》，就促进养老托育服务健康发展提出四个方面23项举措。
                        </p>
                    </div>
                    <div class="media-right text-danger">
                        7000+选择
                    </div>
                </div>

            </div>
            <div class="col-md-6 hugong">
                <div class="media">
                    <div class="media-left">
                        <img src="/image/head01.jpg" alt="头像"
                             class="media-object img-responsive img-circle img-thumbnail" width="100px">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <span class="text-danger">【热】</span>
                            精心照顾老人的顾家人选
                        </h4>
                        <p class="text-muted" style="margin-top: 10px;">
                            2020年12月31日，国务院办公厅印发《关于促进养老托育服务健康发展的意见》，就促进养老托育服务健康发展提出四个方面23项举措。
                        </p>
                    </div>
                    <div class="media-right text-danger">
                        7000+选择
                    </div>
                </div>

            </div>
            <div class="col-md-6 hugong">
                <div class="media">
                    <div class="media-left">
                        <img src="/image/head01.jpg" alt="头像"
                             class="media-object img-responsive img-circle img-thumbnail" width="100px">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <span class="text-danger">【热】</span>
                            精心照顾老人的顾家人选
                        </h4>
                        <p class="text-muted" style="margin-top: 10px;">
                            2020年12月31日，国务院办公厅印发《关于促进养老托育服务健康发展的意见》，就促进养老托育服务健康发展提出四个方面23项举措。
                        </p>
                    </div>
                    <div class="media-right text-danger">
                        7000+选择
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section id="sc_commend">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h4>护工推荐</h4>
                <p class="text-muted">如您需要更适合您的护工，您可以提交需求，我们会根据需求筛选后为您推荐</p>
                <div class="input-group">
                    <span class="input-group-addon glyphicon glyphicon-user" id="basic-addon1"></span>
                    <input type="text" class="form-control" placeholder="输入您的姓名" aria-describedby="basic-addon1">
                </div>
                <div class="input-group g2">
                    <span class="input-group-addon glyphicon glyphicon-phone" id="basic-addon2"></span>
                    <input type="text" class="form-control" placeholder="输入您的手机号码" aria-describedby="basic-addon1">
                </div>
                <button type="button" class="btn btn-success" style="float: left">提交需求</button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" style="float: right">
                    护工筛选
                </button>

                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">日光城养老之家</h4>
                            </div>
                            <div class="modal-body">
                                <div class="wc-zero">
                                    <div class="wc-zero-left" style="float: left">
                                        <p class="wc-zero-left-p">填写护工信息</p>
                                    </div>
                                    <div class="wc-zero-right" style="float: right">
                                        <p class="wc-zero-right-p"><i class="icon iconfont" style="font-size:18px;"></i>&nbsp;咨询电话：<span style="font-size:15px; color:#1d1d1d;">400 0298 998</span></p>
                                    </div>
                                </div>
                                <div class="wc-one">
                                    <span>工资要求：</span>
                                    <select class="selectpicker" multiple>
                                        <option value="1">1000以下</option>
                                        <option value="2">1001~2000</option>
                                        <option value="3">2001~3000</option>
                                        <option value="4">3001~4000</option>
                                        <option value="5">4001~5000</option>
                                        <option value="6">5000以上</option>
                                    </select>
                                </div>
                                <div class="wc-two">
                                    <span>服务类型：</span>
                                    <select class="selectpicker" multiple>
                                        <option value="1">居家照顾</option>
                                        <option value="2">上门服务</option>
                                        <option value="3">院内照顾</option>
                                        <option value="4">社区照料</option>
                                        <option value="5">旅游外出</option>
                                    </select>
                                </div>
                                <div class="wc-three">
                                    <span>服务内容：</span>
                                    <select class="selectpicker" multiple data-live-search="true" data-selected-text-format="count > 3">
                                        <option value="1">起居照料</option>
                                        <option value="2">清洁清洗</option>
                                        <option value="3">营养膳食</option>
                                        <option value="4">生活协助</option>
                                        <option value="5">文化娱乐</option>
                                        <option value="6">卧床老人护理</option>
                                        <option value="7">康复训练</option>
                                        <option value="8">精神慰藉</option>
                                        <option value="9">代订代购</option>
                                        <option value="10">送医拿药</option>
                                        <option value="11">驻院医生</option>
                                        <option value="12">用药管理</option>
                                        <option value="13">健康管理</option>
                                        <option value="14">认知症照护</option>
                                        <option value="15">临终关怀</option>
                                    </select>
                                </div>
                                <div class="wc-four">
                                    <p>其他问题:</p>
                                    <textarea name="question" placeholder="" style="border:0;border-radius:5px;background-color:rgba(241,241,241,.98);width: 100%;height: 200px;padding: 10px;resize: none;"></textarea>
                                    <p class="text-muted">介绍文字建议在250字以内<p>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal" style="float: left">关闭</button>
                                <button type="button" class="btn btn-success">提交</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <p class="text-success text-center tel">400 0297 567</p>
                <h4 class="text-center"><strong>周一至周日</strong></h4>
                <h5 class="text-center">上午 09:00 | 下午22:00</h5>
            </div>
        </div>
    </div>
</section>

<section id="sc_link">
    <!--  标题  -->
    <div class="title text-center">
        <h1><strong>友情链接</strong></h1>
    </div>
    <ul class="logo">
        <li><a href=""><img src="/image/friend01.gif" width="50px" alt=""></a></li>
        <li><a href=""><img src="/image/friend02.gif" width="50px" alt=""></a></li>
        <li><a href=""><img src="/image/friend03.gif" width="50px" alt=""></a></li>
        <li><a href=""><img src="/image/friend04.gif" width="50px" alt=""></a></li>
        <li><a href=""><img src="/image/friend05.gif" width="50px" alt=""></a></li>
        <li><a href=""><img src="/image/friend06.gif" width="50px" alt=""></a></li>
        <li><a href=""><img src="/image/friend07.gif" width="50px" alt=""></a></li>
    </ul>
</section>

<footer id="sc_footer">
    <div class="container">
        <div class="row" style="padding-top: 20px;">
            <div class="col-md-3 col-md-offset-1 one">
                <div class="row">
                    <ul class="col-md-6">
                        <li><a href="">关于我们</a></li>
                        <li><a href="">更多资讯</a></li>
                        <li><a href="">养老服务</a></li>
                    </ul>
                    <ul class="col-md-6">
                        <li><a href="">本院环境</a></li>
                        <li><a href="">成为护工</a></li>
                        <li><a href="">联系我们</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 two">
                <h5>本院地址: 西藏自治区拉萨市日光城养老院</h5>
                <h5>联系电话: 13114712367</h5>
                <h5>地址邮箱: 89534573@qq.com</h5>
            </div>
            <div class="col-md-3 three">
                <h5>联系我们:</h5>
                <a href="">
                    <img src="/image/friend03.gif" alt="" width="50px" data-toggle="tooltip" data-placement="bottom"
                         title="关注微信">
                    <img src="/image/friend05.gif" alt="" width="50px" data-toggle="tooltip" data-placement="bottom"
                         title="关注微博">
                </a>
            </div>
        </div>
    </div>
</footer>

</body>
</html>
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="/js/bootstrap-select.min.js"></script>
<script src="/js/index.js"></script>