<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>日光城养老之家</title>
    <link href="/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap-select.min.css">

    <link rel="shortcut icon" href="/image/home.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/fileinput.min.css">
    <link rel="stylesheet" href="/static/css/nurseAdd.css">
</head>
<body>

<header id="sc_header">
    <!--  上部分  -->
    <div class="top-bar hidden-sm hidden-xs text-center text-muted">
        <div class="container">
            <div class="row">
                <div class="top-bar-1 col-md-2">
                    <a href="" class="text-muted">
                        <span class="glyphicon glyphicon-blackboard"></span>
                        <span>关注本院</span>
                        <span class="glyphicon glyphicon-triangle-bottom"></span>
                        <img src="/image/erweima.jpg" alt="日光城养老之家" width="130px">
                    </a>
                </div>
                <div class="top-bar-2 col-md-5">
                    <i class="glyphicon glyphicon-earphone"></i>
                    <span>tel:8888-8888 (服务时间: 9:00 ~ 22:00)</span>
                </div>
                <div class="top-bar-3 col-md-2">
                    <a href="" class="text-muted">日光城</a>
                    <a href="" class="text-muted">养老之家</a>
                </div>
                <div class="top-bar-4 col-md-3">
                    <a class="btn btn-default btn-sm btn-info" href="#" role="button">免费注册</a>
                    <a class="text-muted" href="#" role="button" style="margin-left: 10px">立即登录</a>
                </div>
            </div>
        </div>
    </div>
    <!--  下部分  -->
    <nav class="navbar navbar-default navbar-static-top navbar-sc">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sc_nav"
                        aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Brand</a>
            </div>

            <div class="collapse navbar-collapse" id="sc_nav">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="">关于我们</a></li>
                    <li><a href="">养老服务</a></li>
                    <li><a href="">居家养老</a></li>
                    <li><a href="">项目体验</a></li>
                    <li><a href="">联系方式</a></li>
                    <li><a href="">成为护工</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right hidden-sm hidden-xs">
                    <li><a href="#">个人中心</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<section id="sc_nurse_add">
    <div class="container">
        <div class="row">
            <!-- 头部选项卡 -->
            <div style="overflow: auto" class="head_xuan">
                <ul class="nav nav-pills" role="tablist">
                    <li role="presentation" class="active"><a href="#nurse1" aria-controls="home" role="tab"
                                                              data-toggle="tab">护工申请</a></li>
                    <li role="presentation"><a href="#nurse2" aria-controls="profile" role="tab" data-toggle="tab">信息修改</a>
                    </li>
                </ul>
            </div>

            <!-- 展示内容 -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="nurse1">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-2"></div>

                            <div class="col-md-8">
                                <div class="form-group">
                                    <label style="font-size: 16px">申请人姓名</label>
                                    <input class="form-control input-lg" type="text" placeholder="请输入你的名字">
                                </div>

                                <div class="form-group">
                                    <label style="font-size: 16px">性别</label>
                                    <select id="sex_type1" name="sex_type" class="form-control input-lg">
                                        <option disabled="disabled" selected="selected">性别</option>
                                        <option>男</option>
                                        <option>女</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label style="font-size: 16px">头像</label>
                                    <input type="file" class="file">
                                </div>

                                <div data-toggle="distpicker">
                                    <div class="form-group">
                                        <label style="font-size: 16px">省份</label>
                                        <label class="sr-only" for="province1" style="font-size: 16px">省份</label>
                                        <select class="form-control input-lg" id="province1"></select>
                                    </div>
                                    <div class="form-group">
                                        <label style="font-size: 16px">城市</label>
                                        <label class="sr-only" for="city1" style="font-size: 16px">城市</label>
                                        <select class="form-control input-lg" id="city1"></select>
                                    </div>
                                    <div class="form-group">
                                        <label style="font-size: 16px">区域</label>
                                        <label class="sr-only" for="district1" style="font-size: 16px">区域</label>
                                        <select class="form-control input-lg" id="district1"></select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label style="font-size: 16px">街道</label>
                                    <input class="form-control input-lg" type="text" placeholder="请输入您的具体地址">
                                </div>

                                <div class="form-group">
                                    <label style="font-size: 16px">申请人手机号码</label>
                                    <input class="form-control input-lg" type="text" placeholder="请输入您的联系方式">
                                </div>

                                <div class="form-group">
                                    <label style="font-size: 16px">申请人从业时间</label>
                                    <select name="ap_type" class="form-control input-lg">
                                        <option disabled="disabled" selected="selected">请输入您的从业时间</option>
                                        <option>不到一年</option>
                                        <option>一至两年</option>
                                        <option>二至三年</option>
                                        <option>三至四年</option>
                                        <option>四至五年</option>
                                        <option>五至六年</option>
                                        <option>六年以上</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label style="font-size: 16px">申请人身份证号码</label>
                                    <input class="form-control input-lg" type="text" placeholder="请输入您的身份证号码">
                                </div>

                                <div class="form-group">
                                    <label style="font-size: 16px">申请人介绍</label>
                                    <textarea class="form-control input-lg" rows="6" placeholder="请详细的介绍你自己"></textarea>
                                </div>

                                <div align="center">
                                    <button class="btn btn-info btn-lg" id="btn1" type="button">提交</button>
                                </div>
                            </div>

                            <div class="col-md-2"></div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="nurse2">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-2"></div>

                            <div class="col-md-8">
                                <div class="form-group">
                                    <label style="font-size: 16px">申请人姓名</label>
                                    <input class="form-control input-lg" type="text" placeholder="请输入你的名字">
                                </div>

                                <div class="form-group">
                                    <label style="font-size: 16px">性别</label>
                                    <select id="sex_type2" name="sex_type" class="form-control input-lg">
                                        <option disabled="disabled" selected="selected">性别</option>
                                        <option>男</option>
                                        <option>女</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label style="font-size: 16px">头像</label>
                                    <input type="file" class="file">
                                </div>

                                <div data-toggle="distpicker">
                                    <div class="form-group">
                                        <label style="font-size: 16px">省份</label>
                                        <label class="sr-only" for="province2" style="font-size: 16px">省份</label>
                                        <select class="form-control input-lg" id="province2"></select>
                                    </div>
                                    <div class="form-group">
                                        <label style="font-size: 16px">城市</label>
                                        <label class="sr-only" for="city2" style="font-size: 16px">城市</label>
                                        <select class="form-control input-lg" id="city2"></select>
                                    </div>
                                    <div class="form-group">
                                        <label style="font-size: 16px">区域</label>
                                        <label class="sr-only" for="district2" style="font-size: 16px">区域</label>
                                        <select class="form-control input-lg" id="district2"></select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label style="font-size: 16px">街道</label>
                                    <input class="form-control input-lg" type="text" placeholder="请输入您的具体地址">
                                </div>

                                <div class="form-group">
                                    <label style="font-size: 16px">申请人手机号码</label>
                                    <input class="form-control input-lg" type="text" placeholder="请输入您的联系方式">
                                </div>

                                <div class="form-group">
                                    <label style="font-size: 16px">申请人从业时间</label>
                                    <select name="ap_type" class="form-control input-lg">
                                        <option disabled="disabled" selected="selected">请输入您的从业时间</option>
                                        <option>不到一年</option>
                                        <option>一至两年</option>
                                        <option>二至三年</option>
                                        <option>三至四年</option>
                                        <option>四至五年</option>
                                        <option>五至六年</option>
                                        <option>六年以上</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label style="font-size: 16px">申请人身份证号码</label>
                                    <input class="form-control input-lg" type="text" placeholder="请输入您的身份证号码">
                                </div>

                                <div class="form-group">
                                    <label style="font-size: 16px">申请人介绍</label>
                                    <textarea class="form-control input-lg" rows="6" placeholder="请详细的介绍你自己"></textarea>
                                </div>

                                <div align="center">
                                    <button class="btn btn-info btn-lg" id="btn2" type="button">保存</button>
                                </div>
                            </div>

                            <div class="col-md-2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer id="sc_footer">
    <div class="container">
        <div class="row" style="padding-top: 20px;">
            <div class="col-md-3 col-md-offset-1 one">
                <div class="row">
                    <ul class="col-md-6">
                        <li><a href="">关于我们</a></li>
                        <li><a href="">更多资讯</a></li>
                        <li><a href="">养老服务</a></li>
                    </ul>
                    <ul class="col-md-6">
                        <li><a href="">本院环境</a></li>
                        <li><a href="">成为护工</a></li>
                        <li><a href="">联系我们</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 two">
                <h5>本院地址: 西藏自治区拉萨市日光城养老院</h5>
                <h5>联系电话: 13114712367</h5>
                <h5>地址邮箱: 89534573@qq.com</h5>
            </div>
            <div class="col-md-3 three">
                <h5>联系我们:</h5>
                <a href="">
                    <img src="/image/friend03.gif" alt="" width="50px" data-toggle="tooltip" data-placement="bottom"
                         title="关注微信">
                    <img src="/image/friend05.gif" alt="" width="50px" data-toggle="tooltip" data-placement="bottom"
                         title="关注微博">
                </a>
            </div>
        </div>
    </div>
</footer>

</body>
</html>
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/jq/js/distpicker.data.js"></script>
<script src="/jq/js/distpicker.js"></script>
<script src="/jq/js/main.js"></script>
<script src="/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="/js/bootstrap-select.min.js"></script>
<script src="/js/index.js"></script>
<script src="/js/fileinput.min.js"></script>
<script src="/js/zh.js"></script>