<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>日光城养老之家 | 注册</title>

    <link rel="stylesheet" href="/css/regist.css">
</head>
<body>
<!--背景-->

<div class="main">
    <!--    登录框-->
    <div class="loginFrame">
        <!--        标题-->
        <p class="loginTitle">Register</p>
        <!--        用户名-->
        <div class="user">
            <label>
                <!--                用于占位-->
                <span></span>
                <span>用户名: </span>
                <!--                输入框-->
                <input type="text" placeholder="        UserName">
            </label>
        </div>
        <!--        密码-->
        <div class="password">
            <label>
                <!--用于占位-->
                <span></span>
                <span>密码: </span>
                <!--输入框-->
                <input type="password" placeholder="        PassWord">
            </label>
        </div>
        <!--        确认密码-->
        <div class="re_password">
            <label>
                <!--用于占位-->
                <span></span>
                <span>确认密码: </span>
                <!--输入框-->
                <input type="password" placeholder="        RePassWord">
            </label>
        </div>
        <!--        注册按钮-->
        <div class="enterBtn">
            <span>注册</span>
        </div>
        <a href="#"><span>已有账号，去登录</span></a>
    </div>
</html>
</div>
</body>